<h1> <%= @article.title %> </h1>
<p>
	<%= @article.text %>
</p>


<h2> Comments </h2>
<% @article.comments.each do |comment| %>
<p>
<i> <%= current_user.username %> said:</i> <br/>
<%= comment.body %>
</p>
<% end %>

<h2>Add comment </h2>
<p>
<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
<%= current_user.username %> 
</p>

<p>
	<%= f.label :body %><br />		
	<%= f.text_area :body %>
</p>
	
<p>
	<%= f.submit %>
</p>
 <% end %>	
</p>


